#shopping {
	point-file: url('http://i.imgur.com/W1g4gRD.png')
}

#home_garden {
	point-file: url('http://i.imgur.com/hYHWrWe.png')
}

#retail {
	point-file: url('http://i.imgur.com/SBahwn3.png')
}

#manufacturing {
	point-file: url('http://i.imgur.com/g6Lsswr.png')
}

#banks_credit_unions {
	point-file: url('http://i.imgur.com/wXi6Hnc.png')
}

#health_services {
	point-file: url('http://i.imgur.com/HQLAWON.png')
}

#personal {
	point-file: url('http://i.imgur.com/IPm48NR.png')
}

#sports_exercise {
	point-file: url('http://i.imgur.com/3qzjqHt.png')
}

#travel {
	point-file: url('http://i.imgur.com/Ofz0Wvi.png')
}

#professional {
	point-file: url('http://i.imgur.com/KY2cu3p.png')
}

#bars_pubs {
	point-file: url('http://i.imgur.com/ULiEMSI.png')
}

#social_services {
	point-file: url('http://i.imgur.com/0QpAU8y.png')
}

#education {
	point-file: url('http://i.imgur.com/vLhKlll.png')
}

#food_beverages {
	point-file: url('http://i.imgur.com/SQwzoYC.png')
}

#autos_motor_vehicles {
	point-file: url('http://i.imgur.com/eyEdwuE.png')
}

#building_trades {
	point-file: url('http://i.imgur.com/YpcD2St.png')
}

#restaurant {
	point-file: url('http://i.imgur.com/2PL4YWl.png')
}

#no_category {
	point-file: url('http://i.imgur.com/rdHrMPj.png')
}